<h3>Tango Lingo order shipped</h3>
<p>It's just to give you a heads up! that your order has shipped:</p>
<table>
  <tr><th colspan="2">Qty</th><th>Description</th></tr><%= render @order.line_items -%>
</table>